body {
    background-color: rgb(20, 19, 19);
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #000000;
}

.logo {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 10px;
}

.naviList {
    list-style: none;
    display: flex;
    gap: 20px;
}

.naviItem a:link {
    color: blueviolet;
    text-decoration: none;
    font-weight: bold;
}

.naviItem a:hover {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}

main {
    background-image: url(../images/currency.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}

.illustration {
    padding-left: 5%;
}

footer {
    background-color: #000000;
    color: white;
    padding: 5px 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
}

.contact-info,
.social-media {
    text-align: center;
    color: blueviolet;
    font-weight: bold;
}

.mail a:link {
    color: blueviolet;
    text-decoration: none;
    font-weight: bold;
}

.social-media a {
    display: block;
    margin-top: 10px;
    color: blueviolet;
    text-decoration: none;
}

.copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.titleHome {
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 150%;
    color: white;
}

.about {
    display: grid;
    grid-template-rows: 1fr 3fr 3fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4%;
}

.titleAbout {
    grid-row: 1;
    grid-column: 2;
    font-size: 175%;
    place-self: center;
    color: white;
}

.about-text {
    grid-row: 2;
    grid-column: 2;
    place-self: center;
    background-color: rgba(137, 43, 226, 0.86);
    font-size: 100%;
    padding: 8%;
    border-radius: 5%;
    color: white;
}

.about-text:hover {
    background-image: url(../images/cryptoHUB2.png);
    background-position: center;
    padding: 13%;
    transition: 0.8s;
    color: transparent;
}

.bitcoin {
    grid-row: 2;
    grid-column: 1;
    place-self: center;
}

.advertisement1 {
    grid-row: 3;
    grid-column: 1;
    place-self: center;
    border-radius: 3%;
    margin-right: 1%;
    margin-top: 37%;
    transition: 1s;
}

.advertisement1:hover {
    transform: scale(1.5);
    transition: 0.8s;
}

.advertisement2 {
    grid-row: 3;
    grid-column: 2;
    place-self: center;
    margin-top: 37%;
    margin-bottom: 5%;
    transition: 1s;
}

.advertisement2:hover {
    transform: scale(1.5);
    transition: 0.8s;
}

.advertisement3 {
    grid-row: 3;
    grid-column: 3;
    place-self: center;
    border-radius: 3%;
    margin-left: 5%;
    margin-top: 37%;
    transition: 1s;
}

.advertisement3:hover {
    transform: scale(1.5);
    transition: 0.8s;
}