body {
    background-color: rgb(20, 19, 19);
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #000000;
}


img {
    max-width: 100%;
    height: auto;
}

h2 {
    color: white;
}

.logo {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 10px;
}

.naviList {
    flex-direction: row;
    display: flex;
    gap: 20px;
}

.naviItem {
    background-color: blueviolet;
    padding: 5px 10px;
    border-radius: 10%;
}

.naviItem a:link {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.naviItem:hover {
    text-decoration: none;
    font-weight: bolder;
    font-size: large;
}

.naviItem a:visited {
    color: black;
}

/* HOMEPAGE */
main {
    background-image: url(../images/currency.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.illustration {
    grid-column: 3;
    margin-top: 5%;
    place-self: start;
}

.titleHome {
    grid-column: 1;
    place-self: center;
    margin-left: 40%;
    transition: 5s;
}

.description {
    grid-column: 1;
    place-self: center;
    font-size: 50%;
    font-weight: lighter;
    margin-bottom: 20%;
}

.home {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    margin-right: 10%;
    font-size: 150%;
    color: white;
}

.cryptos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.cryptos h2 {
    margin: 1%;
    margin-bottom: 35%;
    border-radius: 10%;
}

.bitcoin {
    grid-column: 1;
    margin-left: 15%;
}

.ethereum {
    grid-column: 2;
    margin-left: 15%;
}

.dogecoin {
    grid-column: 3;
    margin-left: 15%;
}

.news {
    background-color: rgba(36, 34, 34, 0.9);
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 10%;
    margin-bottom: 10px;
    border-radius: 5%;
}

.news h2 {
    color: blueviolet;
    font-size: 24px;
}

.news-item {
    margin-top: 20px;
}

.news-item img {
    width: 15%;
    height: auto;
    border-radius: 5px;
}

.news-item h3 {
    margin-top: 10px;
    color: rgb(133, 4, 255);
}

.news-item p {
    color: #ffffff;
}

/* ABOUT US */
.about {
    display: grid;
    grid-template-rows: 1fr 3fr 3fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4%;
}

.titleAbout {
    grid-row: 1;
    grid-column: 2;
    font-size: 250%;
    place-self: center;
    color: white;
    transition: 3s;
}

.about-text {
    grid-row: 2;
    grid-column: 2;
    place-self: center;
    background-color: rgba(100, 19, 177, 0.86);
    font-size: 100%;
    padding: 8%;
    border-radius: 5%;
    color: white;
}

.about-text:hover {
    background-image: url(../images/cryptoHUB2.png);
    background-size: cover;
    background-position: center;
    padding: 13%;
    transition: 0.8s;
    color: transparent;
}

.bitcoinImg {
    grid-row: 2;
    grid-column: 1;
    place-self: center;
}

.advertisement1 {
    grid-row: 3;
    grid-column: 1;
    place-self: center;
    border-radius: 3%;
    margin-right: 1%;
    margin-top: 37%;
    transition: 1s;
}

.advertisement1:hover {
    transform: scale(1.15);
    transition: 0.8s;
}

.advertisement2 {
    grid-row: 3;
    grid-column: 2;
    place-self: center;
    margin-top: 37%;
    margin-bottom: 5%;
    transition: 1s;
}

.advertisement2:hover {
    transform: scale(1.5);
    transition: 0.8s;
}

.advertisement3 {
    grid-row: 3;
    grid-column: 3;
    place-self: center;
    border-radius: 3%;
    margin-left: 5%;
    margin-top: 37%;
    transition: 1s;
}

.advertisement3:hover {
    transform: scale(1.15);
    transition: 0.8s;
}

/* LEARN */
.lessons {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.titleLearn {
    grid-column: 2;
    place-self: center;
    color: white;
    font-weight: bold;
    font-size: 140%;
}

legend {
    color: white;
    font-weight: bolder;
}

.lesson1,
.lesson2,
.lesson3 {
    background-size: cover;
    background-repeat: no-repeat;
    grid-row: 2;
    color: transparent;
    border-radius: 5%;
    border: 5px rgb(73, 16, 126) solid;
}

.lesson1:hover,
.lesson2:hover,
.lesson3:hover {
    background-image: none;
    background-color: rgba(0, 0, 0, 0.918);
    padding: 3%;
    transform: scale(1.1);
    transition: 1s;
    color: white;
}

.lesson1 {
    background-image: url(../images/lesson1.jpg);
    background-size: cover;
    grid-column: 1;
    margin-left: 3%;
}

.lesson2 {
    background-image: url(../images/lesson2.webp);
    background-size: cover;
    grid-column: 2;
    margin-left: 1%;
    margin-right: 1%;
}

.lesson3 {
    background-image: url(../images/lesson3.jpg);
    background-size: cover;
    grid-column: 3
}


/* FOOTER */
footer {
    background-color: #000000;
    color: white;
    padding: 10px 0;
    margin-top: auto;
}

.footer-content {
    display: flex;
    justify-content: space-around;
}

.contact-info,
.social-media {
    text-align: center;
    color: blueviolet;
    font-weight: bold;
}

.mail a:link {
    color: blueviolet;
    text-decoration: none;
    font-weight: bold;
}

.social-media a {
    display: block;
    margin-top: 10px;
    color: blueviolet;
    text-decoration: none;
}

.copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}